@charset "ISO-8859-1";

body {
	background-image: url("picture4.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "montserrat";
}

h1 {
	color: #f1cfb8;
	text-align: left;
	font-size: 60px;
	padding-left: 160px;
}

.container {
	position: absolute;
	background-color: transparent;
	width: 375px;
	left: 8%;
	bottom: 32%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	justify-items: center;
	border-radius: 75px;
	border-style: none;
}

div {
	align-items: center;
	color: #7696b4;
	font-size: 25px;
	text-align: right;
}

.logo {
	position: absolute;
	left: 11.5%;
	top: 68%;
}

.add1 {
	padding-bottom: 0.10rem;
	position: relative;
}

.add1::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: #ed7d31;
	transition: width 0.25s ease-out;
}

.add1:hover::before {
	width: 100%;
}

.add1 {
	padding-top: 19px;
}

.container input:hover {
	rotate: 25deg;
	transition: 0.25s ease-out;
}

.add:hover {
	rotate: 35deg;
	transition: 0.25s ease-out;
}